.searchinput{
        background-color: red;
        border: none;
        border-radius: 6px;
        font-size: 20px;
        line-height: 48px;
        padding: 0 16px;
        width: 100px;
    }

.loginusername    {
        font-size: 17px;
        padding: 14px 16px;
        width: 330px;
    }
       


